{{ ansible_managed | comment }}
[Unit]
Description=Traefik Webserver
Documentation=https://github.com/traefik
After=network-online.target

[Service]
{% for env_var in traefik_service_extra_env_vars %}
Environment="{{ env_var.name }}={{ env_var.value }}"
{% endfor %}
Type=simple
{% if ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] == "8" %}
User=root
{% else %}
User={{ traefik_system_user }}
{% endif %}
Group={{ traefik_system_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ traefik_binary_install_dir }}/traefik \
  --configfile={{ traefik_config_dir }}/config.yml{% for flag, flag_value in traefik_config_flags_extra.items() %} \
  --{{ flag }}={{ flag_value }}{% endfor %}

LimitNOFILE={{ traefik_limit_nofile | default('8192') }}
{% if ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] == "8" %}
{% else %}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}
NoNewPrivileges=true
SyslogIdentifier=traefik
Restart=always

[Install]
WantedBy=multi-user.target
