{{ ansible_managed | comment }}
[Unit]
Description=Traefik Webserver
Documentation=https://github.com/traefik
After=network-online.target

[Service]
Type=simple
User={{ traefik_system_user }}
Group={{ traefik_system_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ traefik_binary_install_dir }}/traefik \
  --configfile={{ traefik_config_dir }}/config.yml \
{% if traefik_log_to_file %}
  --log=true \
  --log.filepath={{ traefik_log_dir }}/traefik.log \
  --accesslog.filepath={{ traefik_log_dir }}/access.log \
  --accesslog.format=json \
{% endif %}
  --log.level={{ traefik_log_level }} \
  --log.format={{ traefik_log_format }}{% for flag, flag_value in traefik_config_flags_extra.items() %} \
  --{{ flag }}={{ flag_value }}{% endfor %}

LimitNOFILE={{ traefik_limit_nofile | default('8192') }}
LimitNOFILE=8192
PrivateDevices=true
ProtectHome=true
ProtectSystem=full
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true
SyslogIdentifier=traefik
Restart=always

[Install]
WantedBy=multi-user.target
