{{ ansible_managed | comment }}
[Unit]
Description=Traefik Webserver
Documentation=https://github.com/traefik
After=network-online.target

[Service]
{% if traefik_cloudflare_enable %}
{%   if traefik_cloudflare_email | length > 0 %}
Environment="CF_API_EMAIL={{ traefik_cloudflare_email }}"
{%   endif %}
{%   if traefik_cloudflare_api_key | length > 0 %}
Environment="CF_API_KEY={{ traefik_cloudflare_api_key }}"
{%   endif %}
{%   if traefik_cloudflare_zone_api_token | length > 0 %}
Environment="CF_ZONE_API_TOKEN={{ traefik_cloudflare_zone_api_token }}"
{%   endif %}
{% endif %}
Type=simple
{% if ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] >= "8" %}
User={{ traefik_system_user }}
{% else %}
User=root
{% endif %}
Group={{ traefik_system_group }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart={{ traefik_binary_install_dir }}/traefik \
  --configfile={{ traefik_config_dir }}/config.yml{% for flag, flag_value in traefik_config_flags_extra.items() %} \
  --{{ flag }}={{ flag_value }}{% endfor %}

LimitNOFILE={{ traefik_limit_nofile | default('8192') }}
{% if ansible_facts['distribution'] == "Debian" and ansible_facts['distribution_major_version'] >= "8" %}
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
{% endif %}
NoNewPrivileges=true
SyslogIdentifier=traefik
Restart=always

[Install]
WantedBy=multi-user.target
